* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background-color: $primary;

}

body {
    height:100vh;
    font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: $primary;
}

::-webkit-scrollbar-thumb {
    background-color: $white;
    border-radius: 1rem;
}

::selection {
    background-color: #fff;
    color: #000;
}
